* {
    box-sizing: border-box;}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    background-color: #401330;
}

.wrapper{

    background-color:#8C6969;
    max-width: 800px;
    
    margin: 0 auto;
    

}

#wallpaper {
    float: top;
    width: 100%;
    height: 100%;
}



h1 {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 1000px;
    text-align: center;
    color: white;
    
}

.display ul li {
    display: inline;
    font-size: 25px;
}

.display ul {
    padding-left: 0;
}

#home {
    margin-left:10px;
    background-color:#735439 ;
     
}

#contact {
    margin-left: 230px;
    background-color: #735439;
}

#story {
    margin-left: 260px;
    background-color: #735439;
    
}





#white-witch {
    width: 370px;
    float: left;
    padding-right: 20px;
    margin-left: 10px;
}

.introduce p {
    line-height: 1.4;}


.facts li {
    line-height: 1;
}

.message {
    width: 700px;
    height: 600px;
    margin: 40px;

  
    padding: 10px;
  
    border: 3px solid #221D26}

.footer {
    margin-left:650px;
}

#fullname {
    width:600px
}

#email {
    width: 600px
}

#story-2 {
    width:600px;
    height:100px;
    margin: auto;
}

#more {
    width:400px
}
  