
body {
        font-family: 'Open Sans', sans-serif;
      }

body.wrapper {
    padding: 1.5rem;
    max-width: 1200px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}



footer header nav section {
    display: block;
}

body {
    line-height: 1;}


body .wrapper {
    padding: 25px;
    margin: auto;
    max-width: 1200px;
}

h3 {
    font-size:30px ;
    font-weight: bold;
}

header{
    background-color: black;
}

nav {
    background-color: #c78c06;
    font-weight: bold;
    font-size: 20px;
}

nav ul {
    text-align: center;
}


nav ul li:nth-child(n+2) {
    background-color: #ffe6ac;
}

nav ul li:nth-child(1) a {
    color:#222;
}

nav form {
    text-align: center;
    background-color: #ffe6ac ;
}

li {
    padding: 20px;
}

nav li a {
    text-decoration: none;
}

li {
    padding: 25px;
}

form {
    display: flex;
}

form button {
    width: 10px;
    background-color: black;
    color:#c78c06;
    font-size: 20px;
    border: 1px soild #c78c06;
    
}

form input {
    width: 90%;
    font-size: 20px;
    padding: 10px;
    border: 1px soild #c78c06;
}

main {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
}

#main-container {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;

    
}

h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 100%;
}

main p {
    line-height: 100%;
}

main button {
    background-color: #c78c06;
    margin-top:10px ;
    padding: 30px;
    font-size:20px;

}

#about_us {
    background-color: #ffe6ac;
    height: auto;
}

#about_us img {
    width: 100%;
    height: auto;
}

h2{
    font-size: 40px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

#about-us p{
    line-height: 1.5;
}

.digital{
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

.video{
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

.web{
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

.print{
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

.marketing{
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

.digital img {
    width: 100%;
    height: auto; 
}

.web img {
    width: 100%;
    height: auto; 
}

.print img {
    width: 100%;
    height: auto; 
}

.marketing img {
    width: 100%;
    height: auto; 
}

.video img {
    width: 100%;
    height: auto; 
}

.digital h3 {
    padding: 14px;
}

.video h3 {
    padding: 14px;
}

.web h3 {
    padding: 14px;
}

.print h3 {
    padding: 14px;
}

.marketing h3 {
    padding: 14px;
}

.digital-button {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 15px;
}

.video-button {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 15px;
}

.print-button {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 15px;
}


.marketing-button {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 15px;
}


.web-button {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 15px;
}

#our_vision {
    background-image: url(../images/vision.jpg);
    background-size: 100% auto;
    color: white;
}

#our_vision p {
    line-height: 1.5;
}

.vision-button {
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    font-size: 15px;
    color:white;
    border: 1px solid white;
} 

.team-member-1 {
background-color: #ffe6ac;
margin-bottom: 15px;
}

.team-member-2 {
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

.team-member-1 img {
    width: 100%;
    height: auto;

}

.team-member-2 img {
    width: 100%;
    height: auto;
}

.team-member-1 hr {
    height: 2px;
    background-color: #c78c06;
    border: none;
}

.team-member-2 hr {
    height: 2px;
    background-color: #c78c06;
    border: none;
}

.team-member-text-1 {
    padding: 15px;
}

.team-member-text-2 {
    padding: 15px;
}

#contact form {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 15px;
}

#contact textarea {
    resize: none;
    width: 90%;
    height: 250px;
}

#contact button {
    border: soild black 1px;
    width: max-content;
    padding: 10px;
}

#hours {
    padding-bottom: 15px;
}

table {
    width: 100%;
    height: auto;
}

table, th,td {
    border: 0.5px solid black;
}

thead{ 
    background-color:#ffe6ac ;
    height: 15px;
}

td,th {
    padding: 15px;
}

#location h3 {
padding-bottom: 15px;
}

iframe {
    height: 450px;
    width: 100%;
}

footer {
    background-color: black;
    color: #ffe6ac;
}


